{% extends "registration/registration_base.html" %}
{% load i18n %}
{% block title %}{% if account %}{% trans "Aktivierung komplett" %}{% else %}{% trans "Aktivierung fehlerhaft" %}{% endif %}{% endblock %}
{% block content %}
{% if account %}
{% trans "Danke" %} {{ account }}, {% trans "der Account wurde erfolgreich aktiviert!" %} <a href='{% url auth_login %}'> {% trans "Sie können sich nun mit Ihrem Benutzernamen und Passwort einloggen" %}</a>. 
{% else %}
{% trans "Oops" %} &ndash; {% trans "es scheint Ihr Aktivierungsschlüssel ist ungültig. Überprüfen Sie Ihren Link." %}
{% endif %}
{% endblock %}

