{% extends "registration/registration_base.html" %}
{% load i18n %}
{% block title %}{% trans "Passwort ändern" %}{% endblock %}
{% block content %}
<div class="alert">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
    {% trans "Passwort vergessen? Geben Sie einfach Ihre E-Mail Adresse ein und wir schicken Ihnen Instruktionen zu, wie sie ein neues Passwort erstellen." %}
</div>

<form method='post' class="well" action=''>{% csrf_token %}
    {% include 'registration/form_fields.html' %}

    <input type='submit' class="btn" value="Reset password" />
</form>
{% endblock %}
