{% load i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
	<title>
	  CTLWeb | {% block title %}Untitled{% endblock %}
	</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        background-repeat:no-repeat;
        background-attachment:fixed;
      }
    </style>
    <link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet">
    <script src="{{ STATIC_URL }}js/jquery-1.8.3.js"></script>
	<script src="{{ STATIC_URL }}js/bootstrap.js"></script>
	{% block headextra %}
	{% endblock headextra %}
  </head>


  <body 
	style="background-image:url({{ STATIC_URL }}img/background.jpg)"
	data-spy="scroll" 
	data-target=".navbar"
  >


    {% comment %}
    -----------------------------------------------------
    Top Navigation Bar - made possible with Bootstrap 
    ----------------------------------------------------
    {% endcomment %}



    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			<span class="icon-bar">
			</span>
			<span class="icon-bar">
			</span>
			<span class="icon-bar">
			</span>
          </a>
          <a class="brand" href="/">CTLWEB</a>

          <div class="nav-collapse collapse">

            <ul class="nav">
			  <li class="home">
			  <a href="/">
				{% trans Home %}
			  </a>
			  </li>
			  <li>
			    <a href="{% url components %}">
				    {% trans "Verzeichnis" %}
			    </a>
			  </li>
        <li class="administration">
        <a href="/admin">
		{% trans "Administration" %}
        </a>
        </li>
			  <li>
				<a href="{% url impressum %}">
					{% trans "Impressum" %}
				</a>
			  </li>
			</ul>

			<form class="navbar-search pull-right" action="/">
              <ul class="nav pull-right">  
      		    <li>
      			  <input name="search_query" type="text"
			  class="search-query" placeholder={% trans "Suche"%}>
      		    </li>
      		    <li>
			      <a href="{% url search %}">
				      {% trans "Erweiterte Suche" %}
				  </a>
			    </li>


        {% comment %}
        ------------------------------------------------------------
        If user is authenticated, account functions (change Password / Logout) are possible
        ------------------------------------------------------------
        {% endcomment %}


          {% if user.is_authenticated %}
			    

          {# Bootstrap's "dropdown" - menu funtionality #} 

          <li class="dropdown">
          <a 
          href="{{ user.id }}" 
          class="dropdown-toggle" 
          data-toggle="dropdown"
          >
          {% filter force_escape %}{% firstof user.first_name user.username %}{% endfilter %}
          <b class="caret"></b>
          </a>
              <ul class="dropdown-menu">
          <li>
            <a href="/password_change">
		    {% trans "Passwort ändern" %} 
            </a>
          </li>
          <li>
            <a href="/userkey">
        {% trans "Userkeys verwalten" %} 
            </a>
          </li>

          <li>
            <a href="{% url logout %}">
		    {% trans "LogOut" %}
            </a>
          </li>
          
        </li>
        </ul>

        {% comment %}
        ------------------------------------------------------------
        If user isn't authenticated, login/register is made possible
        ------------------------------------------------------------
        {% endcomment %}

          {% else %}
          <li>
			      <a href="{% url login %}">
				      {% trans "Login" %}
			      </a>
			    </li>
          

			    <li>
			      <a href="{% url registration_register %}">
				      {% trans "Registrieren" %}
				  </a>
			    </li>
          {% endif %}
              </ul>
            </form>
          </div>
		</div>
      </div>
    </div>


        {% comment %}
        ------------------------------------------------------------
        Bootstrap's "container" functionality, to layout spaces of a page 
        ------------------------------------------------------------
        {% endcomment %}

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span1">
            
        {# Left space: Empty, as left side bar #}

                
        </div>
        <div class="span10">

        {% comment %}
        Actual responsible space for showing the main content: 
        External content from other templates are being integrated by Django-tags 
        ""{% block content %}{% endblock %}""
        {% endcomment %}
          

          {% block content %}
          {% endblock %}  
        </div>
      </div>
    </div>
  </body>
</html>
