{% extends "base.html" %}
{% block title %}
Component {{ component.name }}
{% endblock title %}
{% block content %}
<div class="transbox">
<div class="page-header">
  <h1>{{ component.name }} 
  </h1>  
  <blockquote>
  {{ component.brief_description  }}
  </blockquote>
</div> 
  <dl class="dl-horizontal">
	<dt>
	  Interface
	</dt>
	<dd>
	  {% for i in interfaces %}
		{{ i.name }}{% if not forloop.last %}, {% endif %}
	  {% endfor %}
	</dd>

	<dt>
	  Ersteller:
	  {# {% trans "Ersteller" %} #}
	</dt>
	<dd> 
	  {% for p in programmer %}
		{% if p in users.email %} 
		  {# url noch nicht vorhanden #}
		  <a href="{% url user u.pk %}">
			{{ p.email }}
		  </a>{% else %}{{ p.email }}{% endif %}{% if not forloop.last %},
		  {% endif %}
		  <br /> 
	  {% endfor %} 
	</dd>
	
	<dt>
	  Version:
	</dt>
	<dd>
	  {{ component.version }}
	</dd>
  	
  	<dt>
  	  Datum: 
	  {# {% trans "Datum" %} #}
	</dt>
	<dd> 
	  {{ component.date }} 
	</dd>

  {% if see_homeserver %}
	<dt> 
	  Homeserver 
	</dt>
	<dd> 
	  {% for hs in homeserver %}
		<a href="{{ hs.domain }}" target="_blank">
		  {{ hs.name }}
		</a> 
		{% if not forloop.last %} <br /> {% endif %}
	  {% endfor %}
	</dd>
  {% endif %}
</dl>

<div class="accordion" id="accordion2">
  <div class="accordion-group">
	<div class="accordion-heading">
	  <a 
		class="accordion-toggle" 
		data-toggle="collapse"
		data-parent="#accordion2" 
		href="#description"
	  >
		Beschreibung
	  </a>
	</div>
  <div id="description" class="accordion-body collapse">
	<div class="accordion-inner">
	  {{ component.description }}
	</div>
  </div>
  <script type="text/javascript">
	$(function() {
		$('.accordion').on('hide', function (e) {
		  $(this).find('.accordion-toggle').not($(e.target)).removeClass('active');
		  });
	});
  </script>
</div>
</div>

{% if see_homecluster %}
Cluster:
<div class="accordion" id="accordion1">
  <div class="accordion-group">
	{% for hc in homecluster %}
	  <div class="accordion-heading">
		<a 
		  class="accordion-toggle" 
		  data-toggle="collapse"
		  data-parent="#accordion1" 
		  href="#{{ hc.id }}"
		>
		  {{ hc.name }} {{ hc.domain }}
		</a>
	  </div>
	  {% if forloop.first %}
		<div id="{{ hc.id }}" class="accordion-body collapse in">
	  {% else %}
		<div id="{{ hc.id }}" class="accordion-body collapse">
	  {% endif %}
		<div class="accordion-inner">
		  {% for h in hc.components_cluster_set.all %}
			{% if h.component = component %}
			    <table>
				{% if user.is_authenticated %}
				  <tr>
				    <td>
					CTL-Befehl:
				    </td>
				    <td>
					{{ h.ctl }}
				    </td>
				  </tr>
				{% endif %} 
				{% if see_path %}
				  <tr>
					<td> 
					  Pfad: 
					</td>
					<td> 
					  {{ h.path }} 
					</td>
				  </tr>
				{% endif %}
				{% if see_code %}
				  <tr>
					<td> 
					  Code: 
					</td>
					<td> 
					  {{ h.code }} 
					</td>
				  </tr>
				{% endif %}
			  </table>
			{% endif %}
		  {% endfor %}
		</div>
	  </div>
	{% endfor %}
  </div>
</div>
{% endif %}
</div>
{% endblock content %}				
