{% extends "base.html" %}
{% block title %}
Component list
{% endblock title %}
{% block content %}

<div class="transbox">
  <br/>
  {% if not form == 0 %}
	  <div class="tabbable">
		<ul class="nav nav-tabs">
		  <li class="active"><a href="#interface"
			data-toggle="tab">Interface</a></li>
		  <li><a href="#component" data-toggle="tab">Components</a></li>
		</ul>
		<div class="tab-content">
		  <div class="tab-pane active" id="interface">
  {% endif %}
			<div class="tabbable tabs-left"> <!-- Only required for left/right tabs -->
			  <ul class="nav nav-tabs" id="interfaceList">
				<center><b>Interfaces</b></center>
				{% for di in d_interfaces %}
				  <li class>
					<a href="#i_{{ di.key }}" data-toogle="tab" style="color:
					  #006600">
					  {{ di.name }} <br />
					  <small>{{ di.description }}</small>
					</a>
				  </li>
				{% endfor %}
				{% for idi in i_interfaces %}
				  <li class>
					<a href="#i_{{ idi.key }}" data-toogle="tab">
					  {{ idi.name }} <br />
					  <small>{{ idi.description }}</small>
					</a>
				  </li>
				{% endfor %}
			  </ul>
			  <div class="tab-content content">
				{% for di in d_interfaces %}
				  <div class="tab-pane" id="i_{{ di.key }}">
				  <center><b>Komponenten von {{ di.name }}</b></center>
				  {% for c in di.components.all %}
				  <div class="component"> 
					{# TODO @Johann: im css "component" hinzufügen #}
					<a href="{% url component c.id %}">
					  {{c.name}} <br />
					</a>
					  <small>
						{{ c.brief_description }} <br />
						<u>Programmierer:</u> 
						{% for pro in programmer %}
						  {% if pro.component == c %}
							{% if pro.email in u_programmer.email %}
							{# TODO Userprofillink einfügen #}
							  <a href=""> 
								{{ pro.email }}
							  </a>
							{% else %}
							  {{ pro.email }}
							{% endif %}
						  {% endif %}
						{% endfor %}
					  </small>
					</div>
					{% endfor %}
				  </div>
				{% endfor %}  
				{% for idi in i_interfaces %}
				  <div class="tab-pane" id="i_{{ idi.key }}">
				  <center><b>Gefundene Komponenten von {{ idi.name }}</b></center>
				  {% for c in idi.components.all %}
					{% if c in search_components %}
					  <div class="component">
						<a href="{% url component c.id %}">
						  {{ c.name }} <br />
						</a>
						<small>
						  {{ c.brief_description }} <br />
						  <u>Programmierer:</u>
						  {% for pro in programmer %}
							{% if pro.component == c %}
							  {% if pro.email in u_programmer.email %}
								{# TODO Userprofillink einfügen #}
			  					<a href=""> 
								  {{ pro.email }}
								</a>
							  {% else %}
								{{ pro.email }}
							  {% endif %}
							{% endif %}
						  {% endfor %}
						</small>
					  </div>
					{% endif %}
				  {% endfor %}
				  </div>
				{% endfor %}
			  </div>
			</div>
			<script type="text/javascript">
			  $(function() {
				$('#interfaceList a').click(function(e) {
				  e.preventDefault();
				  $(this).tab('show');
				})

				$('#interfaceList a:first').tab('show');
			  });
			</script>
  {% if not form == 0 %}		
		  </div>
		  <div class="tab-pane" id="component">
			{% for sc in search_components %}
			  <div id="component">
				<a href="{% url component sc.id %}">
				  {{sc.name}} <br />
				</a>
			    <small>
				  {{ sc.brief_description }} <br />
				  <u>Programmierer:</u> 
				  {% for pro in programmer %}
					{% if pro.component == sc %}
					  {% if pro.email in u_programmer.email %}
						{# TODO Userprofillink einfügen #}
						<a href=""> 
						  {{ pro.email }}
						</a>
					  {% else %}
						{{ pro.email }}
					  {% endif %}
					{% endif %}
				  {% endfor %}
				</small>		 
			  </div>
		  	{% endfor %}
		  </div>
		</div>  
	  </div>
  {% endif %}  
</div>

{% endblock content %}
