{% extends "base.html" %}
{% block title %}
Component list
{% endblock title %}
{% block content %}

<div class="transbox">
  <br/>
  {% if not form == 0 %}
	  <div class="tabbable">
		<ul class="nav nav-tabs">
		  <li class="active"><a href="#interface"
			data-toggle="tab">Interface</a></li>
		  <li><a href="#component" data-toggle="tab">Components</a></li>
		</ul>
		<div class="tab-content">
		  <div class="tab-pane active" id="interface">
  {% endif %}
			<div class="tabbable tabs-left"> <!-- Only required for left/right tabs -->
			  <ul class="nav nav-tabs" id="interfaceList">
				{% for di in d_interfaces %}
				  {% if forloop.first %}
					<li class>
				  {% else %}
					<li class>
				  {% endif %}
					<a href="#i_{{ di.key }}" data-toogle="tab">
					  {{ di.name }} <br />
					  <small>{{ di.description }}</small>
					</a>
				  </li>
				{% endfor %}
			  </ul>
			  <div class="tab-content content">
				{% for di in d_interfaces %}
				  {% if forloop.first %}
					<div class="tab-pane" id="i_{{ di.key }}">
				  {% else %}
					<div class="tab-pane" id="i_{{ di.key }}">
				  {% endif %}
				  {% for c in di.components.all %}
				  <div class="component"> 
					{# TODO @Johann: im css "component" hinzufügen #}
					<a href="{% url component c.id %}">
					  {{c.name}} <br />
					</a>
					  <small>
						{{ c.brief_description }} <br />
						<u>Programmierer:</u> 
						{% for pro in programmer %}
						  {% if pro.component == c %}
							{% if pro.email in u_programmer.email %}
							{# TODO Userprofillink einfügen #}
							  <a href=""> 
								{{ pro.email }}
							  </a>
							{% else %}
							  {{ pro.email }}
							{% endif %}
						  {% endif %}
						{% endfor %}
					  </small>
					</div>
				  {% endfor %}
				  </div>

				{% endfor %}
			  </div>
			</div>
			<script type="text/javascript">
			  $(function() {
				$('#interfaceList a').click(function(e) {
				  e.preventDefault();
				  $(this).tab('show');
				})

				$('#interfaceList a:first').tab('show');
			  });
			</script>
  {% if not form == 0 %}		
		  </div>
		  <div class="tab-pane" id="component">
			TODO hier sollen die components hin	  
			{% for c in components %}
			  <div id="component">
				<div id="title">
				  <a href="{% url components c.pk %}">{{ c.name }}</a>
				</div>
				<div id="programmer">
				  {% for pro in c.programmer_set.all %}
					{% for pro in users %}
					  <a href="{% url user pro.pk %}">{{ pro.email }}</a>
					{% empty %}
					  {{ pro.email }}
					{% endfor %}
					{% if not forloop.last %}, {% endif %}
				  {% endfor %}
				</div>
				<div id="version">
				  {{ c.version }}
				</div>
				<div id="brief description">
				  {{ c.brief_description }}
				</div>	
			  </div>
		  	{% endfor %}
		  </div>
		</div>  
	  </div>
  {% endif %}  
</div>

{% endblock content %}
