{% load i18n %}
<br/>
{% if not form == 1 %}
<div class="page-header">
  <h1>
	{% trans "Verzeichnis" %}
  </h1>
  <blockquote>
	{% blocktrans %} 
	Eine Auflistung aller Interfaces und ihrer zugehörigen Komponenten
	{% endblocktrans %}
  </blockquote>
</div>
{% endif %}
{% if not form == 0 %}
<div class="page-header">
  <h1>
	Suchergebnisse
  </h1>
  <blockquote>
	{% trans "Alle direkten und indirekten Ergebnisse für " %}
	{% if searchquery %}
	  "{{ searchquery }}".
	{% else %}
	  {% trans "die Suche." %}
	{% endif %}
  </blockquote>
</div>
{% endif %}
	<div class="tabbable">
	  <ul class="nav nav-tabs" id="viewSelection">
		<li class="active">
		  <a href="#interface" data-toggle="tab" id="viewInterface">
			{% trans "Interfaces" %}
		  </a>
		</li>
		<li>
		  <a href="#component" data-toggle="tab" id="viewComponent">
			{% trans "Components" %}
		  </a>
		</li>
	  </ul>
	  <div class="tab-content">
		<div class="tab-pane active" id="interface">
{# {% endif %} #}
{# --------------- LEFT CONTENT SIDE --------------------------- #}
<div class="tabbable tabs-left"> 
  {# Only required for left/right tabs #}
			<ul class="nav nav-tabs" id="interfaceList">
			  <center><b>{% trans "Interfaces" %}</b></center>
			  {% for di in interfaces.object_list %}
				<li>
				  {% if di.is_direct %}
					<a href="#i_{{ di.pk }}" data-toogle="tab" 
					  style="color: #006600" id="i_{{ di.pk }}_list">
				  {% else %}
					<a href="#i_{{ di.pk }}" data-toggle="tab" 
					  id="i_{{ di.pk }}_list">
				  {% endif %}
				  <strong>{{ di.name }}</strong>
					</a>
				  </li>
				{% endfor %} {# di in... #}
			  <div class="pagination">
				<ul>
				  {# printing page buttons for interfaces #}
				  {% for button in interface_page_buttons %}
					{{ button|safe }}
				  {% endfor %}
				</ul>
			  </div>
			</ul>

{# -------------------- RIGHT CONTENT SIDE -------------------- #}
			<div class="tab-content content">
			  {% for di in interfaces.object_list %}
				<div class="tab-pane" id="i_{{ di.pk }}">
				  <center>
					<h3> {{ di.name }} </h3>
				  </center>
				  {% if see_ci %}
				  <a href="#i_d_{{di.pk}}" role="button" class="btn" data-toggle="modal">Details</a>
				  <div id="i_d_{{di.pk}}" class="modal hode fade wide-modal" tabindex="-1"
					role="dialog" aria-labelledby="i_d_{{di.pk}}_modal"
					  aria-hidden="true">
					<div class="modal-header">
					  <button type="button" class="close" data-dismiss="modal"
						aria-hidden="true"> x </button>
					  <h3 id="i_d_{{di.pk}}_modal">{{di.name}}</h3>
					</div>
					<div class="modal-body">
					  <pre> {{di.ci}} </pre>
					</div>
					<div class="modal-footer">
					  <button class="btn" data-dismiss="modal"
						aria-hidden="true">
						{% trans "Schließen" %}
					  </button>
					</div>
				  </div>
				  {% endif %}
				  <center>
					<b>
					{% if not di.is_direct %}
					  {% trans "Gefundene" %}
					{% endif %}
					  {% blocktrans %} 
						Komponenten  
					  {% endblocktrans %}
					</b>
				  </center>
				  {% for c in di.paged_components.object_list %}
					{% if c in search_components or di.is_direct %}
					<div class="component" 
					  style="display: block; position: static; margin-bottom: 5px;">
					  <blockquote>
					  <strong>
						<a href="{% url component c.id %}">
						{{ c }} <br />
						</a>
					  </strong>
						<small>
						  {% if see_description %} {{ c.brief_description }}
						  <br /> {% endif %}
						  <u>
							{% blocktrans count counter=programmer|length %}
							  Programmierer:
							{% plural %}
							  Programmierer:
							{% endblocktrans %}
						  </u> 
						  {% for pro in c.programmer_set.all %}
						  {{ pro.email }}{% if not forloop.last %}, {% endif %}
							{% endfor %}{# programmer #}
						  </small>
						</blockquote>
					  </div>
					  {% endif %}
				  {% endfor %}{# c in... #}
				  <div class="pagination">
					<ul>
					  {# printing page buttons for interface-specific components #}
					  {% for button in di.page_buttons %}
						{{ button|safe }}
					  {% endfor %}
					</ul>
				  </div>
				</div>
				{% endfor %}{# di in... #}
			</div>
		  </div>
		  <script type="text/javascript">
			$(function() {
				{# handle request when clicking on left side #}
        $('#interfaceList>li>a').click(function(e) {
				{# prevent href, generate new url and get new content #}
				e.preventDefault();
				var value = $(this).attr('href').substr(1);
				var url = getModifiedUrlByGet("item", value);
				window.history.pushState("", null, url);
				$(this).tab('show');
			  });
			  {# select item on left side, defaults to first #}
			  var item = getValueOfGET("item");
			  if(item == '') {
				item = 'interfaceList a:first';
			  }
			  else {
				item += "_list";
			  }
			  $('#'+item).tab('show');

			  {% if not form == 0 %}
			  {# interfaceList or componentList, depending on selection and if #}
			  {# searchmode active. Also handling clicks on related tabs #}
			  $('#viewSelection a').click(function(e) {
				e.preventDefault();
				var value = $(this).attr('href').substr(1);
				var url = getModifiedUrlByGet("view", value);
				window.history.pushState({}, null, url);
				$(this).tab('show');
				});

			  var view = "{{ view }}";
			  if(view == 'component') {
				$('#viewComponent').tab('show');
				var url = getModifiedUrlByGet("view", "component");
				window.history.pushState({}, null, url);
			  }
			  else {
				$('#viewInterface').tab('show');
			  }

			  {% endif %}

			});
		  </script>
{# {% if not form == 0 %} #}
		</div>
		<div class="tab-pane" id="component">
			{% for sc in paged_components.object_list %}
			  <div class="component" 
				  style="display: block; position: static; margin-bottom: 5px; margin-right: 400px;">
				<blockquote>
					  <strong>
						<a href="{% url component sc.id %}">
						{{sc}} <br />
						</a>
					  </strong>
					<small>
					{% if see_description %} {{ sc.brief_description }} <br />
					{% endif %}
				  <u>
					{% blocktrans count counter=programmer|length %}
					  Programmierer:
					{% plural %}
					  Programmierer:
					{% endblocktrans %}
				  </u> 
				  {% for pro in sc.programmer_set.all %}
					{{ pro.email }}{% if not forloop.last %}, {% endif %}
				  {% endfor %}{# programmer #}
				</small>
				</blockquote>		 
			  </div>
			  {% endfor %} {# sc in.... #}
			  <br />
			  <div class="pagination">
				<ul>
				  {# printing page buttons for component-only-view #}
				  {% for button in s_components_page_buttons %}
					{{ button|safe }}
				  {% endfor %}
				</ul>
			  </div>
		</div>
	  </div>  
	</div>
	{# {% endif %} #}
