{% extends "base.html" %}
{% block title %}
Component list
{% endblock title %}
{% block content %}

<div class="transbox">
      <br/>
      <h1> List of available Components </h1>

      <table class="table table-striped table-bordered">
      	<tr> 
      		<td><h5>Name of Component </h5></td>
      		<td><h5>Author  </h5></td>
      		<td><h5>Date </h5></td>
      	</tr>
      	<tr>
      		<td>a </td>
      		<td>b </td>
      		<td>c </td>

      	</tr>



      </table>
            <p></p> <br/>
	  
	  {% for c in components %}
		<div id="component">
		  <div id="title">
			<a href="{% url components c.pk %}">{{ c.name }}</a>
		  </div>
		  <div id="programmer">
			<!-- TODO verlinkung auf user-seite -->
			{% for pro in c.programmer_set.all %}
			{{ pro.email }}{% if not forloop.last %}, {% endif %}
			{% endfor %}
		  </div>
		  <div id="version">
			{{ c.version }}
		  </div>
		  <div id="brief description">
			{{ c.brief_description }}
		  </div>	
		</div>

		{% endfor %}
</div>
{% endblock content %}
