{% extends "base.html" %}
{% load i18n %}
{% block title %}
Home
{% endblock title %}
{% block content %}

    <div class="hero-unit">
	  <h2> {% trans "Willkommen auf CTLWEB" %} </h2>
	  <p>{% trans "Hier finden Sie DIE Komponenten" %} </p>
    <p>
    <a href="{% url components %}" class="btn btn-primary btn-large">
    	Los geht's!
    </a>
    </p>
    
		
	<form action="./" method="post">
            <textarea></textarea>
            <a href="#" class="blueButton" id="download">Download</a>
        </form>
                
	        
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.min.js"></script>
        <script src="{{ STATIC_URL }}js/jquery.generateFile.js"></script>
        <script src="{{ STATIC_URL }}js/script.js"></script>
        

    
    </div>
{% endblock content %}
