{% extends "base.html" %}
{% load i18n %}
{% block title %}
{% trans "Suche" %}
{% endblock title %}
{% block headextra %}
{{ addform.media }}
{% endblock headextra %}
{% block content %}
<div class='transbox'>
  <h1>Erweiterte Suche</h1>
  <form class="form-horizontal" method="post">
  {% csrf_token %}
	{{searchareaform.as_table}}
  	{{baseform.management_form}}
	<table id="formset" class="form">
	  {% for form in baseform %}
	    {% if forloop.first %}
		<thead>
		  <tr>
			{% for field in form.visible_fields %}
			  <th>
			    {{ field.label|capfirst }}
			  </th>
			{% endfor %}
		  </tr>
	    </thead>
		{% endif %}
		<tr class="{% cycle row1,row2 %}">
		  {% for field in form.visible_fields %}
			<td>
			  {# Include the hidden fields in the form #}
			  {% if forloop.first %}
				{% for hidden in form.hidden_fields %}
				  {{ hidden }}
				{% endfor%}
			  {% endif %}
			  {{ field.errors.as_ul }}
			  {{ field }}
			</td>
		  {% endfor %}
		</tr>
	  {% endfor %}
	</table>

	<script type="text/javascript">
	  <!--
	  $(function() {
		$('.add-row').click(function() {
		  return addForm(this, 'addform');
		});
		$('.delete-row').click(function() {
		  return deleteForm(this, 'addform');
		});
	  })
	  //-->
	</script>
  	{{addform.management_form}}
	<table id="formset" class="form">
	  {% for form in addform %}
	  <tr><td>{{ form.initial.id }}
	    {% if forloop.first %}
		  <thead>
		    <tr>
			  {% for field in form.visible_fields %}
			    <th>
				  {{ field.label|capfirst }}
				</th>
			  {% endfor %}
		    </tr>
		  </thead>
		{% endif %}
		<tr 
		  class="{% cycle row1,row2 %} dynamic-form" 
		  id="{{ form.prefix }}-row"
		>
		  {% for field in form.visible_fields %}
			<td class="hidden">
			  {# Include the hidden fields in the form #}
			  {% if forloop.first %}
				{% for hidden in form.hidden_fields %}
				  {{ hidden }}
				{% endfor%}
			  {% endif %}
			  {{ field.errors.as_ul }}
			  {{ field }}
			</td>
		  {% endfor %}
		  <td class="hidden">
			<a href="javascript:void(0)"  class="btn btn-inverse delete-row">
			  Suchfeld löschen
			</a>
		  </td>
		</tr>
		<tr 
		  class="{% cycle row1,row2 %} dynamic-form" 
		  id="{{ form.prefix }}-row"
		>
		  {% for field in form.visible_fields %}
			<td>
			  {# Include the hidden fields in the form #}
			  {% if forloop.first %}
				{% for hidden in form.hidden_fields %}
				  {{ hidden }}
				{% endfor%}
			  {% endif %}
			  {{ field.errors.as_ul }}
			  {{ field }}
			</td>
		  {% endfor %}
		  <td>
			<a href="javascript:void(0)"  class="btn btn-inverse delete-row">
			  {% trans "Suchfeld löschen" %}
			</a>
		  </td>
		</tr>
	  {% endfor %}
	</table>
	<a href="javascript:void(0)"  class="btn btn-inverse add-row">
	  {% trans "Weiteres Suchfeld" %}
	</a>

	<button class="btn btn-inverse">
	  {% trans "Suche starten" %}
	</button>
  </form>
</div>
{% endblock %}
